@import "tailwindcss";

body {
    font-family: 'Urbanist', ui-sans-serif, system-ui !important;
}


/* scroll bar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* TestMenu Model */
@keyframes slide-down {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-down {
    animation: slide-down 1s ease-out forwards;
}

/* Navbar ans Location */
@keyframes slide-in {
    from {
        transform: translateX(100%);  /* start from right */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.4s ease-out forwards;
}



/*test menu*/
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 1s forwards;
}


/*Alert box*/
@keyframes slide-left {
  0% { opacity: 0; transform: translateX(100%); }
  100% { opacity: 1; transform: translateX(0); }
}

.animate-slide-left {
  animation: slide-left 0.4s ease-out;
}
